{# templates/emails/reset_password.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <h1>Réinitialisation de mot de passe</h1>
    <p>Votre nouveau mot de passe est : {{ randomPassword }}</p>
    <p>Connectez-vous avec ce nouveau mot de passe et n'oubliez pas de le changer après vous être connecté.</p>
</body>
</html>